/* COLORS: 
RED: #FA000D - nav
ORANGE: #FF6600 - sect-one
LIGHT ORANGE: #FF8D3A - sect-two
WHITE: #FFFFFF - sect-three
PINK: #F24CA6 - sect-four
DARK PINK: #D44198 - sect-five
PURPLE: #C2006C - sect-six
*/


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
/* font-family: 'Caveat', cursive; */
/* font-family: 'Nunito', sans-serif; */



body {
    background-color: #000;
    font-family: 'Caveat', cursive;
    color: #fff;
}

/* .sect-one {
    background-color: #FF6600;
}

.sect-two {
    background-color: #FF8D3A;
}

.sect-three {
    background-color: #FFFFFF;
    color: #FA000D;
}

.sect-four {
    background-color: #F24CA6;
}

.sect-five {
    background-color: #D44198;
} */

.img-container {
    /* height: 96vh;
    width: 51vw; */
    background-repeat: no-repeat;
}

/* .img-one {
    background-image: url('images/img.jpeg');
    background-size: 100%;
    width: 51vw;
} */

/* .img-two {
    background-image: url('images/img8.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
} */

/* .img-three {
    background-image: url('images/img9.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
} */

/* .img-four {
    background-image: url('images/img19.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
} */

/* .img-five {
    background-image: url('images/img5.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
} */

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blurb h2 {
    /* color: #ea1ec2; */
    font-weight: 100;
    font-size: 2.8rem;
}

.blurb p {
    /* color: #f92771; */
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 2;
}

.content {
    /* margin-bottom: 100px;
    margin-top: 100px; */
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color: #fff;
    font-size: 1.9rem;
    font-weight: 300;
}

#mainNavbar .nav-link {
    color: #fff;
}

#mainNavbar .nav-link:hover {
    text-decoration: underline;
}

span {
    /* color: #C2006C; */
}
#headingGroup h1:first-of-type{
    color: #FA000D;
}
#headingGroup h1:nth-of-type(2){
    color: #FF6600;
}
#headingGroup h1:nth-of-type(3){
    color: #FF8D3A;
}
#headingGroup h1:nth-of-type(4){
    color: #FFFFFF;
}
#headingGroup h1:nth-of-type(5){
    color: #F24CA6;
}
#headingGroup h1:nth-of-type(6){
    color: #D44198;
}
#headingGroup h1:nth-of-type(7){
    color: #C2006C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
}

.navbar.scrolled {
    background: #fa000c;
    transition: background 500ms;
}



/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .img-container {
        height: 66vh;
        width: 100vw;
    }
    .blurb{
        padding-top: 2rem;
    }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .img-container {
        height: 66vh;
        width: 100vw;
    }
    }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body {
        /* background-color: #E7688B; */
    }
    #headingGroup h1 {
        font-size: 2rem;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }

