/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}






/* ========BREAKING POINTS FROM THE BOOTSTRAP 
https://getbootstrap.com/docs/5.0/layout/breakpoints/  ================
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */









/* ======== MY CODE ===========  */

/* design inspiration: https://lipsumator.com/ */
/* Bad Place Red: #CB0600 */
/* Green: #6DB866 */
/* Blue: #0063A1 */
/* White: #F2EFE7 */
/* Yellows: #F7E51D 0, #F7D121, #F3C81D 80% */

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;1,200&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  color: #0063A1;
  /* background: radial-gradient(circle at center, #F7E51D 0, #F7D121, #F3C81D 80%); */
  text-align: center;
  font-weight: 400;
}


/* NAVBAR SECTION  */
nav {
  background: #0063A1;
  display: flex;
  padding: .5em 2rem;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
}

nav>a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.5em;
  background: #CB0600;
  padding: .5em;
  transform: rotate(-7deg) translate(-.3em, .2em);
}

nav>ul {
  display: flex;
  gap: 2rem;
}

nav>ul>li>ul>li {
  text-align: left;
  padding: .5rem 0;
  background-color: #0063A1;
}

nav>ul>li>ul>li:hover {
  background-color: #F3C81D;
}

nav>ul>li>ul>li:active {
  background-color: #F7D121;
}

nav ul li:hover {
  cursor: pointer;
  position: relative;
  color: #F3C81D 80%;
}

nav ul li:hover>ul {
  display: block;
}

nav ul li:hover>a {
  color: #0063A1;
}

nav>ul>li>a {
  cursor: pointer;
  display: block;
  outline: none;
  width: 100%;
  padding: .5em;
  text-decoration: none;
}

nav>ul>li>a:hover {
  background-color: #F3C81D;
}

nav>ul>li>a:active {
  background-color: #F7D121;
}

nav>ul li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 2000;
  list-style-type: none;
}

nav>ul li ul li>a {
  text-decoration: none;
}

/* HEADING SECTION */

.fine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 93vh;
  background-color: white;
  border-bottom: 1px solid #0063A1;
}

.fine h3 {
  color: #6DB866;
  font-size: 2.5em;
}

.heading {
  background-color: #F7D121;
  border-bottom: 1px solid #0063A1;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 500;
  color: #0063A1;
  font-size: 2.5em;
}

.heading h2 {
  color: #0063A1;
  font-size: 1.6em;
  margin: 0;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .fine h3, h1 {
    font-size: 3.5em;
  }
  .heading{
    height: 25vh;
  }
  .heading h2{
    font-size: 1.8em;
  }
 }
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .fine h3, h1{
    font-size: 5em;
  }
  .heading{
    height: 32vh;
  }
  .heading h2{
    font-size: 2.2em;
  }
 }
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .fine h3, h1{
    font-size: 6em;
  }
  .heading{
    height: 38vh;
  }
  .heading h2{
    font-size: 2.8em;
  }
 }
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .fine h3, h1{
    font-size: 7em;
  }
  .heading{
    height: 40vh;
  }
  .heading h2{
    font-size: 3.2em;
  }
 }
/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  .fine h3, h1{
    font-size: 8em;
  }
  .heading{
    height: 45vh;
  }
  .heading h2{
    font-size: 3.6em;
  }
 }



/* FORM BELLOW */
.form-and-gen-sect{
  /* display: flex; */
  /* justify-content: stretch; */
}
/* .form-cont {
  background-color: #0063A1;
  color: white;
  width: 30%;
  padding: 1em;
  text-align: left;
  font-weight: 100;
} */
form{
  /* box-sizing: border-box; */
  padding: 2em;
  text-align: left;
  /* padding-right: 0; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items:flex-end; */
  /* gap: 2rem; */
  /* text-align: right; */
}
/* .form-sect-ckbx{
  padding: .1em;
} */

/* #quantity {
  background-color: #F2EFE7;
  border: none;
  font-size: 1rem;
  padding: .2rem .3rem;
} */
/* #quantity,
.labels,
.generate-btn,
.copy-btn {
  color: #0063A1;
  background-color: white;
  border: none;
  font-size: 1rem;
  border: 1px solid #fff;
} */
/* .generate-btn,
.copy-btn {
  padding: .7em 1.7em;
  font-size: 1.2em;
} */
/* .copy-btn:hover {
  color: #fff;
  background-color: #058fe5;
  border: 1px solid #fff;
} */
/* .copy-btn:active {
  color: #fff;
  background-color: #0676bb;
  border: 1px solid #fff;
} */
/* .generate-btn:hover {
  color: #fff;
  background-color: #6DB866;
  border: 1px solid #fff;
} */
/* .generate-btn:active {
  color: #fff;
  background-color: #6db866bc;
  border: 1px solid #fff;
} */

/* input[type="checkbox"] {
  transform: scale(1.5, 1.5);
} */

/* GENERATE AREA INSIDE OF FORM CONTAINER */
/* .generate-area {
  border: 2px solid #0063A1;
  width: 70%;
  background-color: #fff;
} */

/* .generate-area p {
  text-align: left;
  font-size: 1em;
  color: #0063A1;
  padding: 1em;
} */




/* CLOWN SECTION BELLOW */
#clown {
  /* background-image: url(https://www.singulart.com/images/artworks/pictures/cropped/1391/30775/zoom/serie_30775_329fa7b9436147428612f075e3d95ea8.jpeg); */
  background-image: url("images/clown.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: 100%;
}

.clear {
  height: 60em;
}


/* BLOG SECTION BELLOW */
.blog-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  background-color: #6DB866;
  color: #F2EFE7;
  padding: 1rem 0;
}

.bt-blog-post {
  flex-basis: 24%;
  padding: 1rem;
  border: 2px solid #0063A1;
  background-color: #F3C81D;
  color: #0063A1;
  min-height: 9em;
}

.bt-blog-post h3 {
  font-size: 1.5em;
  font-weight: 300;
}

.bt-blog-post p {
  font-size: .9em;
  font-weight: 100;
}

@media (min-width: 900px) {
  .blog-section {
    flex-direction: row;
  }

  .bt-blog-post {
    /* padding: 25px 50px; */
  }

  .pricing-plan:last-child {}
}


/* FOOTER SECTION */
footer {
  background-color: #0063A1;
  color: #fff;
  padding: 1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

footer a:hover {
  font-weight: 600;
}


