@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arimo;
}
body {
  background: #ffc803;
  text-align: center;
}
h3{
  font-size: 3em;
}
.heading {
  margin: 3em auto;

}
.heading h1 {
  font-size: 2.5rem;
}
.heading h2 {
  font-size: 1.2rem;
}
.card {
  display: inline-block;
  width: 240px;
  height: 332px;
  background-color: #fff;
  color: #030200;
  padding: 40px 30px;
  border-radius: 1.1rem;
  text-align: left;
  /* margin-bottom: 10rem; */
  border: .1px solid #e0d7a9;
}
.card:hover{
  box-shadow: 5px 5px 5px rgba(21, 20, 18, 0.294);
}
.blk-card { /* this modifies .card */
  background-color: #030200;
  color: #fff;
}

/* SAMPLE SECTION  */
.sample{
  height: 80vh;
}


/* DECKS SECTION  */
.decks-container{
  height: 80vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.decks-btn-container{
  display: flex;
}






.results{
  width: 80%;
  margin: auto;
}

.vt-answer-card{
  position: relative;
  bottom: 10rem; /* off-setting by the # of pixels*/
}

.sample-blk, .sample-wht{
  position: relative;
}.sample-blk{
  left: 1rem;
  transform: rotate(-5deg);
}.sample-wht{
  right: 1rem;
  top: .1rem;
  transform: rotate(5deg);
}



/* PLAYER HAND SECTION */
.card.two {
  display: inline-block;
  width: 240px;
  height: 332px;
  background-color: #fff;
  color: #030200;
  padding: 40px 30px;
  border-radius: 1.1rem;
  text-align: left;
  /* margin-bottom: 10rem; */
  border: .1px solid #e0d7a9;
  transition: transform .5s, box-shadow .7s;
}
.hand.two{
  margin: 5em auto;
  padding: 4em 0;
}
.set{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.card.two:hover{
  box-shadow: 5px 5px 5px rgba(21, 20, 18, 0.294);
}
.card.two:active{
  box-shadow: 5px 5px 5px rgba(21, 20, 18, 0.8);
}

.two.hand-card1{
  transform: rotate(-10deg) translate(14rem, 2.5rem);
  transform-origin: bottom right;
}
.two.hand-card1:hover{
  transform: rotate(0deg) translate(8rem, .5rem);
}

.two.hand-card2{
transform: translate(7rem, .5rem);
}
.two.hand-card2:hover{
  transform: translate(2rem, .5rem);
}

.two.hand-card3{
  transform: rotate(5deg);
  transform-origin: bottom left;
}
.two.hand-card3:hover{
  transform: rotate(0deg) translate(-4rem);
  transform-origin: bottom left;
}

.two.hand-card4{
  transform: rotate(10deg) translate(-7rem, 1.5rem);
  transform-origin: bottom left;
}
.two.hand-card4:hover{
  transform: rotate(0deg) translate(-11rem, 1.5rem);
  transform-origin: bottom left;
}

.two.hand-card5{
  transform: rotate(15deg) translate(-14rem, 4.5rem);
  transform-origin: bottom left;
}
.two.hand-card5:hover{
  transform: rotate(0deg) translate(-14rem, 4.5rem);
}



/* FINAL SECTION  */
.symbol:hover{
  font-weight: bold;
}

/* RULES SECTION  */
/* Eventually put a close button in the corner and have to box turn into a small tab that can be clicked on */
.rules {
  text-align: left;
  border: 1px solid black;
  padding: 1em;
  background-color: #ffc803;
  position: fixed;
  left: 0;
  top: 10%;
  width: 15%;
  /* color: white; */
  font-size: .8rem;
  border: 1px solid black;
  border-radius: 1.1rem;
}
.rules:hover{
  box-shadow: 2px 2px 2px rgba(21, 20, 18, 0.294);
}
.rules a{
  padding: .2rem;
  /* border: 1px solid black; */
  border-radius: 1rem;
  color: #000;
  text-decoration: none;
  font-size: .6rem;
  font-weight: 800;
}
.rules a:hover{
  background-color: #000;
  color: #ffc803;
}
.rules a:active{
  background-color: #ffc803;
  color: white;
}
.rules-tab{
  text-align: center;
  border: 1px solid black;
  padding: .2rem .5rem;
  background-color: #ffc803;
  position: fixed;
  left: 0;
  top: 35%;
  border-radius: .6rem;
  transform: rotate(-90deg);
  transform-origin: left;
  margin: .5rem;
}
.rules-tab h3{
  font-size: 1rem;
}
.rules-tab:hover{
  box-shadow: -2px 2px 2px rgba(21, 20, 18, 0.294);
}
.rules-tab:active{
  background-color: #000;
  color: #ffc803;
}


/* FOOTER SECTION  */
footer{
  background-color: #000;
  color: #ffc803;
  height: 25vh;
  padding: 2rem;
  font-size: .7em;
}
footer li{
  list-style: none;
  padding: .5rem 0;
}
footer a{
  color: #ffc803;
  text-decoration: none;
}
footer li:nth-child(3){
  
}