

/* COLORS */
/* BLUE: #C0FFFF */
/* BLACK: #000 */
/* WHITE: #FFF */

/* FONTS  */
/* H1 AND NAV font-family: 'Bebas Neue', sans-serif; */
/* H2 font-family: 'Montserrat Subrayada', sans-serif; */
/* BODY font-family: 'Montserrat', sans-serif; */



body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
}
h2{
    font-family: 'Montserrat Subrayada', sans-serif;
}




