/* design inspiration: https://slumber.fm/ */
/* @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&family=Raleway:ital,wght@0,100;0,200;0,300;1,200&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Proza+Libre&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@900&family=Raleway:wght@100;200&display=swap');
/* font-family: 'Kalam', cursive;      Primary */
/* font-family: 'Proza Libre', sans-serif;     accent*/

body {
  background-color: #F3E7DC;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  font-size: .90em;
}

/*----HERO SECTION -----*/
.fname {
  font-family: 'Poppins', sans-serif;
  font-size: 17rem;
  line-height: 17rem;
  font-weight: 900;
  margin: 2rem auto 0;
  padding: 2rem 0;
  font-family: 'Poppins', sans-serif;
  text-shadow: 3px 3px 3px #DEAEAA;
  transform: rotate(-3deg) translate(1rem, -1rem);
}

.fname span,
.lname span {
  color: #F21EDC;
}

.lname {
  font-family: 'Poppins', sans-serif;
  font-size: 15rem;
  font-weight: 900;
  margin: 0 auto;
  padding: 0;
  line-height: 15rem;
  font-family: 'Poppins', sans-serif;
  transform: rotate(2deg) translate(1rem, -5rem);
  text-shadow: 3px 3px 3px #DEAEAA;
}

.hero-subtittle ul {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  font-size: 2rem;
}

/* ---- ABOUT ME SECTION ----*/

.about-me {
  display: flex;
  justify-content: space-evenly;
  padding: 10rem 0;
}

.about-me p {
  font-size: 1.4rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #AADAD0;
  width: 30rem;
  height: 15rem;
  box-shadow: 5px 5px 3px #047373;
  padding: 0 2rem;
}

.img-profile {
  background-image: url("https://th.bing.com/th/id/OIG.x0EVf16f8W.wgS0k_JGv?w=1024&h=1024&rs=1&pid=ImgDetMain");
  border-radius: 50%;
  height: 16.4rem;
  width: 16.4rem;
  background-position: center;
  background-size: 100%;
  box-shadow: 3px 3px 3px #F21EDC, -1px -1px 1px #F21EDC;

}

/* PROJECTS AND SKILLS SECTION  */
.proj-and-skills{
  display: flex;
  justify-content: center;
  /* margin: auto; */
  align-items: self-start;
}
.skills{
  background-color: #AADAD0;
  box-shadow: 5px 5px 3px #018C7F;
  width: 30rem;
  margin-left: 2rem;
}
.skills ul{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.projects{
  width: 60rem;
}
.projects ul{
  display: flex;
  gap: 1.5rem;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.projects li{
  height: 15rem;
  width: 13rem;
  background-color: #AADAD0;
  box-shadow: 5px 5px 3px #047373;
}


/* FOOTER  */
footer{
  margin-top: 5rem;
  padding-bottom: 5rem;
}
footer ul li:nth-child(4){
  color: #F21EDC;
}