/* font-family: "Poppins", sans-serif;
    font-weight: 100-900, 100-900;
    font-style: normal, italic;
    Green: #32A9A2
   Yellow: #FFCC66
   Red: #FF6B6B 
   Gray: #F5F5F5
   Black: #3D405B*/
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    text-align: center;
    color: #3D405B;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    padding: 0;
}

/* ICONS SECTION  */
i, .replit-icon{
    transition: 1s;
}
i:hover, .replit-icon:hover{
    transform: rotate(-360deg);
    transform-origin: center;

}
.fa-codepen, .fa-linkedin-in {
    color: #32A9A2;
}
.fa-github-alt {
    color: hwb(40 40% 0%);
}

.fa-instagram {
    color: #FF6B6B;
}

.icon-cont.insta, .icon-cont.github, .icon-cont.codepen, .icon-cont.coffee,  .icon-cont.replit, .icon-cont.linkedin {
    width: 2rem; 
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
  }
  .icon-cont.insta:hover i, .icon-cont.github:hover i, .icon-cont.codepen:hover i, .icon-cont.coffee:hover img,  .icon-cont.replit:hover img, .icon-cont.linkedin:hover i {
    display: none;
    transform: rotate(360deg);
    transform-origin: center;
  }
  .icon-cont.insta:hover {
    background-image: url('https://static-00.iconduck.com/assets.00/instagram-icon-1024x1024-8qt57uwd.png'); /* Path to your PNG image */
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(360deg);
    transform-origin: center;
    transform-origin: center;
  }
  .icon-cont.github:hover {
    background-image: url('images/githubHead.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(360deg);
    transform-origin: center;
  }
  .icon-cont.codepen:hover {
    background-image: url('images/codepen.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(360deg);
    transform-origin: center;
  }
  .icon-cont.coffee:hover {
    background-image: url('images/bmc-logo-no-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(360deg);
    transform-origin: center;
  }
  .icon-cont.replit:hover {
    background-image: url('images/Replit_Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(360deg);
    transform-origin: center;
  }
  .icon-cont.linkedin:hover {
    background-image: url('images/linkedin.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(360deg);
    transform-origin: center;
  }
.i-bg {
    background-color: white;
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    transform: translate(8.2rem, -3.9em);
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.061);
}

.fa-circle-info {
    color: #FFCC66;
    font-size: 1rem;
}


/* HERO SECTION  */
.hero {
    margin-top: 5em;
}

.h1-bg {
    background: linear-gradient(0.25turn, #FFCC66, #FF6B6B, #32A9A2);
    height: 195pt;
    width: 16em;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transform: translate(0, 3em);
}

h1, footer h2 {
    font-weight: 300;
    margin: 0;
}

.background-bg {
    background: linear-gradient(0.25turn, #FFCC66, #FF6B6B, #32A9A2);
    height: 192pt;
    width: 192pt;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}
.profile-img {
    background-image: url("images/profile-pic.png");
    height: 190pt;
    width: 190pt;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size: 100%;
    transition: all 1.5s ease-in-out;
  }
  
  .profile-img:hover {
    background-image: url("images/profilePic.jpg");
    aspect-ratio: 1 / 1;
    background-position: left;
    background-size: 120%;
    border-radius: 50%;
    transform: rotate(35deg);
    transform-origin: center;
  }

.hero ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.hero ul li, footer ul li i{
    font-size: 1.3rem;
}

/* THOUGHT TITLE SECTION  */
.title-cont-cont{
    background: linear-gradient(0.25turn, #FFCC66, #FF6B6B);
    padding: .9px;
    margin: 4em auto 0;
    width: 63%;
    border-radius: .25em;
    box-shadow: 5px 4px 4px #F5F5F5;
}
.thought-title-cont{
    padding: 1.5rem 1rem 3em;
    margin: auto;
    background-color: #fff;
    border-radius: .25em;
}
.thought-title-cont h2, .thought-title-cont h3{
  background: -webkit-linear-gradient(0.8turn, #FFCC66, #FF6B6B, #FF6B6B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.thought-title-cont h2{
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: .5rem;
}
.thought-title-cont h3{
    font-size: 1.2rem;
}

/* THOUGHT CONTENTS SECTION */
.thoughts-sect{
    margin: 2em auto 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thoughts-article{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 65%;
    margin: 1rem auto 2.5rem;
    text-align: left;
}
.thoughts-article h4{
    color: #32A9A2;
    font-size: 1rem;
    font-weight: 600;
}
.thoughts-article h3{
    font-size: 1rem;
    font-weight: 600;
}
.thoughts-article div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
}
.thoughts-article p{
    font-size: .7em;
    font-weight: 400;
}


/* FOOTER SECTION  */
footer{
    background: linear-gradient(0.25turn, #FFCC66, #FF6B6B, #32A9A2);
    padding-top: 2px;
}
footer div{
    background-color: #fff;
}
footer div h2{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/* NAVIGATION SECTION  */
.nav-link.underline {
    position: relative; /* Establish a positioning context for pseudo-elements */
    background-color: #fff;
    padding: 0;
    color: #3D405B;
    font-weight: 300;
    display: inline-block; /* Ensure the pseudo-element aligns correctly under the text */
}

.nav-link.underline::after {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    bottom: 0; /* Align at the bottom of the .nav-link */
    left: 0;
    right: 0;
    height: 1px; /* Height of the underline */
    background: linear-gradient(90deg, #FFCC66, #FF6B6B, #32A9A2); /* Gradient for the underline */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition for the hover effect */
}

.nav-link.underline:hover::after {
    opacity: 1; /* Make the underline visible on hover */
}





