/* design inspiration: https://slumber.fm/ */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&family=Raleway:ital,wght@0,100;0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Proza+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@900&family=Raleway:wght@100;200&display=swap');
/* font-family: 'Kalam', cursive;      Primary */
/* font-family: 'Proza Libre', sans-serif;     accent*/
/* font-family: 'Raleway', sans-serif; */


body {
  overflow-x: hidden;
  background-color: #F3E7DC;
  font-weight: 100;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Proza Libre', sans-serif; 
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  display: inline-block;
  font-size: .90em;
  text-transform: uppercase;
}

/*----HERO SECTION -----*/
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3em 0 5rem;
}

.title-lines {
  display: inline;
  padding: 0;
  margin: 0;
}

.fname {
  font-family: 'Poppins', sans-serif;
  font-size: 15rem;
  line-height: 1;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-shadow: 3px 3px 3px #DEAEAA;
}

.title:hover{
  transform: rotate(-5deg) translate(1rem, -1rem);
  transform-origin: bottom right;
}

.title {
  font-size: 5rem;
  padding: 0;
  margin: 0;
}

span,
a:hover {
  font-family: 'Kalam', cursive;
  line-height: inherit;
  display: inline;
  line-height: 1em;
}

.fname span, .nav ul li:first-child {
  /* color: #f21edc; */
  text-shadow: none;
  background: linear-gradient(to right, #f21edc, #018C7F); /* Gradient colors */
  -webkit-background-clip: text; /* For WebKit/Blink browsers like Chrome and Safari */
  color: transparent; /* Make the text transparent so that the gradient is visible through it */
  display: inline-block; /* Ensure the gradient applies only to the text, not the entire line */
}
.nav ul li:first-child{
  font-family: 'Kalam', cursive;
  font-weight: 900;
  padding: 0 1rem;
  margin-left: 1rem;
}
.nav ul li:first-child:hover{
  font-weight: 500;
  box-shadow: 3px 3px #DEAEAA, -3px -3px 3px #DEAEAA;
}
.nav ul li:last-child{
  margin-right: 1rem;
  padding-right: 1rem;
}
.nav ul li{
  margin-top: 1rem;
}
.nav ul,
h3 {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 1.5rem;
  background-color: #F3E7DC;
  text-shadow: 1px 1px 3px #DEAEAA;

}

/* ---- ABOUT ME SECTION ----*/
.about-me {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 5rem 0;
}
.img-skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-profile {
  background-image: url("https://th.bing.com/th/id/OIG.x0EVf16f8W.wgS0k_JGv?w=1024&h=1024&rs=1&pid=ImgDetMain");
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  height: 12.4rem;
  width: 12.4rem;
  padding: 3rem;
  background-position: center;
  background-size: 100%;
  box-shadow: 3px 3px 3px #DEAEAA, -1px -1px 1px #DEAEAA;
  transition: transform 7s ease;
}
.img-profile:hover {
  background-image: url("/Users/river/projects/portfolio/profilePic.jpg");
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  height: 12.4rem;
  width: 12.4rem;
  padding: 3rem;
  background-position: right;
  background-size: 100%;
  box-shadow: 3px 3px 3px #DEAEAA, -1px -1px 1px #DEAEAA;
  transform: rotate(35deg);
}

.about-me p, .img-skills p {
  font-size: 1.2rem;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #AADAD0;
  width: 30rem;
  line-height: 2.5rem;
  box-shadow: 3px 3px 3px #DEAEAA;
  padding: 2rem;
  /* margin-top: 2rem; */
  text-shadow: .01px .01px .1px #DEAEAA;
}
.img-skills p{
  width: 15.4rem;
}

/* PROJECTS AND SKILLS SECTION  */
.headings {
padding: 2rem;
}

.proj-container {
  display: flex;
  justify-content: center;
  /* margin: auto; */
  align-items: self-start;
}

.projects ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 2rem;
}

.projects li {
  height: 10rem;
  width: 18.5rem;
  background-color: #AADAD0;
  box-shadow: 3px 3px 3px #DEAEAA;
  /* border: 1rem inset #deaeaade; */
  transition: transform 1s ease;
}

.projects li figure {
  height: 10rem;
  width: 18.5rem;
  padding: 0;
  margin: 0;
  transition: transform 7s ease;
}
.projects li figcaption{
  transform: translate(0, -5.5rem);
}

.projects li:nth-child(1) figure {
  background-image: linear-gradient(rgba(170, 218, 208), rgba(170, 218, 208)), url("../bo/front-page.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(1) figure:hover {
  background-image: linear-gradient(rgba(170, 218, 208, 0.1), rgba(170, 218, 208, 0.1)), url("../bo/front-page.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(2) figure {
  background-image: linear-gradient(rgba(170, 218, 208), rgba(170, 218, 208)), url("../poem/page-img.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(2) figure:hover {
  background-image: linear-gradient(rgba(170, 218, 208, 0.1), rgba(170, 218, 208, 0.1)), url("../poem/page-img.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(3) figure {
  background-image: linear-gradient(rgba(170, 218, 208), rgba(170, 218, 208)), url("../cah/front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(3) figure:hover {
  background-image: linear-gradient(rgba(170, 218, 208, 0.1), rgba(170, 218, 208, 0.1)), url("../cah/front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(4) figure {
  background-image: linear-gradient(rgba(170, 218, 208), rgba(170, 218, 208)), url("../generator/front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(4) figure:hover {
  background-image: linear-gradient(rgba(170, 218, 208, 0.1), rgba(170, 218, 208, 0.1)), url("../generator/front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(5) figure {
  background-image: linear-gradient(rgba(170, 218, 208), rgba(170, 218, 208)), url("../rosevid/front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(5) figure:hover {
  background-image: linear-gradient(rgba(170, 218, 208, 0.1), rgba(170, 218, 208, 0.1)), url("../rosevid/front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(6) figure {
  background-image: linear-gradient(rgba(170, 218, 208), rgba(170, 218, 208)), url("../../repos/odin-recipes/old-front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(6) figure:hover {
  background-image: linear-gradient(rgba(170, 218, 208, 0.1), rgba(170, 218, 208, 0.1)), url("../../repos/odin-recipes/old-front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(7) figure {
  background-image: linear-gradient(rgba(170, 218, 208), rgba(170, 218, 208)), url("../../repos/odin-recipes/front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(7) figure:hover {
  background-image: linear-gradient(rgba(170, 218, 208, 0.1), rgba(170, 218, 208, 0.1)), url("../../repos/odin-recipes/front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(8) figure {
  background-image: linear-gradient(rgba(170, 218, 208), rgba(170, 218, 208)), url("../portfolio/old-front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(8) figure:hover {
  background-image: linear-gradient(rgba(170, 218, 208, 0.1), rgba(170, 218, 208, 0.1)), url("../portfolio/old-front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(9) figure {
  background-image: linear-gradient(rgba(170, 218, 208), rgba(170, 218, 208)), url("../chers-closet/front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:nth-child(9) figure:hover {
  background-image: linear-gradient(rgba(170, 218, 208, 0.1), rgba(170, 218, 208, 0.1)), url("../chers-closet/front-page.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.projects li:hover {
  transform: translate(-1px, -1px);
  box-shadow: 3px 3px 3px #DEAEAA;
  
  .projects li figcaption{
    color: transparent;
  }
}


/* FOOTER  */
footer {
  margin-top: 5rem;
  padding-bottom: 5rem;
}

footer ul li:nth-child(2) {
  color: #F21EDC;
}