@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Tangerine:wght@400;700&display=swap');
body{
    height: 100%;
    margin: 10rem 0 0 0;
    /* margin-top: 3rem; */
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: .1rem;
    font-weight: 300;
    text-align: center;
    color: #000;
}
.header {
    color: #000;
    font-weight: 200;
    font-size: 1.5em;
    font-family: 'Proza Libre', sans-serif;
    margin: 0;
    padding: 0;
}

/* LOGO & SEARCH SECTION  */
.top-section{
    position: fixed; /* options: fixed, absolute */
    top: 0;
    width: 100%;
    background-color: #fff;
}
.logo-box{
    font-family: Tangerine, script;
    font-size: 2em;
    padding: 0;
    margin: auto;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.logo-box ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.logo-box ul:first-child{
    padding: 1rem 0;
    margin: auto;
}
.logo-box ul:nth-child(2){
  font-size: 1rem;
}
.logo-box a{
    text-decoration: none;
    color: #000;
}
/* .search-bar {
    border-radius: 1rem;
    width: 15rem;
    height: 1.4rem;
    border: 1px solid #CECECE;
    background-color: rgba(204, 255, 255, 0.1);
    color: rgb(242, 242, 242);
    padding-left: 1rem;
} */
/* .search-bar::placeholder {
    color: #CECECE;
} */
hr{
    border: .25px solid #CECECE;
    margin: 0;
    width: 100%;
}
.hr{     /* TRY TO FIGURE OUT THAT GRAY LINE BETWEEN THE IMAGES*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* NAVIGATION SECTION */
.nav-container {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Proza Libre', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    letter-spacing: 0;
}
.nav-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
}
.nav-container li {
    list-style: none;
    padding: .5rem;

}
.nav-container a {
    color: #000;
    text-decoration: none;
}

/* FOCUS SECTION  */
.focus-container {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: stretch;
    background-color: white;
    color: #000;
}

.focus-txt {
    margin: 2rem auto;
    width: 25rem;
    font-size: 1em;
}

#foc-img-box {
    height: 30rem;
    margin: auto;
    border: 1px solid #ccffff;
}

#foc-img-box img {
    height: 100%;
}

/* BACKGROUND IMAGE SECTION  */
/* .back-img-container {
    height: 25rem;
}

div.back-img {
    background-image: linear-gradient(rgba(242, 242, 242, 0), rgba(242, 242, 242, 0)), url("https://s3.amazonaws.com/cms.ipressroom.com/173/files/20166/5776dcc42cfac219cc009ee9_Remain+rally+chalk+slogans/Remain+rally+chalk+slogans_a6ee09d9-b5e8-40b9-8767-fa1a025492c1-prv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: bottom;

} */

/* CAUROSEL DOTS SECTION  */
.cauroseldot{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.cauroseldot li a{
color: #000;
font-size: .5rem;
}
.cauroseldot li:nth-child(2) a{
    color: rgb(176, 176, 176);
    font-size: .5rem;
}

button#search-btn {
    background-color: rgba(204, 255, 255, .1);
    margin: 1rem auto;
    padding: .5rem 3rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0);
    /* color: #fff; */
}

button.view-mr-btn a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}


/* ----------RESEARCH SECTION------------  */
.research-container {
    padding: 0 0 2rem 3rem;
}
.rsch-heading{
    padding: 2rem 0 2rem;
}
.research h4 {
    margin: 1rem 0 .5rem;
    font-size: 1.5em;
    font-weight: 100;
}
.research {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:baseline;
    gap: 2rem;
    text-align: left;
}
.research a {
    color: #000;
    text-decoration: none;
}
.research p {
    margin: 0;
    padding: 0;
}
.research-box {
    width: 14rem;
    transition: transform .2s;
}
.research-box:hover {
    transform: translate(-.025rem, -.025rem);
    cursor: pointer;
}
.rsch-img-box {
    height: 12em;
    width: 14rem;
    background-size: 150%;
    background-position: center;
    border: 1px solid rgb(242, 242, 242);
}
.rsch-img-box.one {
    background-image: linear-gradient(rgba(242, 242, 242, 0.1), rgba(242, 242, 242, .1)), url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image002.jpg");
    background-repeat: no-repeat;
}
.rsch-img-box.one:hover {
    background-image: url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image002.jpg");
    cursor: pointer;
}
.rsch-img-box.two {
    background-image: linear-gradient(rgba(242, 242, 242, 0.1), rgba(242, 242, 242, .1)), url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image006.jpg");
    background-repeat: no-repeat;
}
.rsch-img-box.two:hover {
    background-image: url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image006.jpg");
}
.rsch-img-box.three {
    background-image: linear-gradient(rgba(242, 242, 242, 0.1), rgba(242, 242, 242, .1)), url("https://cdn.shopify.com/s/files/1/0109/9779/2831/files/sierpinski_pentagon_480x480.png?v=1667495868");
    background-repeat: no-repeat;
}
.rsch-img-box.three:hover {
    background-image: url("https://cdn.shopify.com/s/files/1/0109/9779/2831/files/sierpinski_pentagon_480x480.png?v=1667495868");
}
.rsch-img-box.four {
    background-image: linear-gradient(rgba(242, 242, 242, 0.1), rgba(242, 242, 242, .1)), url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image008.jpg");
    background-repeat: no-repeat;
}
.rsch-img-box.four:hover {
    background-image: url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image008.jpg");
}
.rsch-img-box.five {
    background-image: linear-gradient(rgba(242, 242, 242, 0.1), rgba(242, 242, 242, .1)), url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image010.jpg");
    background-repeat: no-repeat;
}
.rsch-img-box.five:hover {
    background-image: url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image010.jpg");
}



/* VIDEO SECTION */
.video-section {
    background-color: rgb(242, 242, 242);
    /* padding: 5rem 0; */
    margin: 0 auto;
    /* width: 120%; */
}
.vid-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
    padding: 0;
}
iframe{
    border: 1px solid rgb(242, 242, 242);
}
.vid-container div:first-child{
    width: 50%;
}

.vid-container div:nth-child(2){
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.vid-container p{
    width: 70%;
}
.video-section h2{
    padding: 2rem 0 0rem;
    margin: 0;
}


/* GENERAL SECTION  */
.general-container {
    background-color: #fff;
    color: #000;
}

.general {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.general a {
    color: #000;
    text-decoration: none;
}

.gen.header {
    color: #000;
    font-weight: 200;
    font-size: 1.5em;
    font-family: 'Proza Libre', sans-serif;
}

.general img {
    max-width: 13rem;
    /* border: 1px solid rgba(83, 83, 83, 0.233); */
    padding-bottom: 0;
}

.general p {
    font-size: .8rem;
}

.general-box {
    width: 25rem;
    /* padding: 1rem 2rem; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
    border-radius: 1rem;
    transition: transform .2s;
}

.general-box:hover {
    transform: translate(-.05rem, -.05rem);
}

.general-box h4 {
    margin: 0 0 0 10px;
    color: black;
}

.general p {
    font-size: .7rem;
    margin: 0 0 10px 10px;
}

.gen-img-box {
    height: 10em;
    max-width: 25em;
    border: 1px solid rgb(242, 242, 242);
}

.gen-img-box.one {
    background-image: linear-gradient(rgba(242, 242, 242, 0.3), rgba(242, 242, 242, .3)), url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image012.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1rem;
}

.gen-img-box.one:hover {
    background-image: url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image012.jpg");
}

.gen-img-box.two {
    background-image: linear-gradient(rgba(242, 242, 242, 0.3), rgba(242, 242, 242, .3)), url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/page0007_files/image001.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1rem;
}

.gen-img-box.two:hover {
    background-image: url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/page0007_files/image001.jpg");
}

.gen-img-box.three {
    background-image: linear-gradient(rgba(242, 242, 242, 0.3), rgba(242, 242, 242, .3)), url("https://images.unsplash.com/photo-1623781760608-1bf656943368?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.gen-img-box.three:hover {
    background-image: url("https://images.unsplash.com/photo-1623781760608-1bf656943368?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==");
}

.gen-img-box.four {
    background-image: linear-gradient(rgba(242, 242, 242, 0.3), rgba(242, 242, 242, .3)), url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image016.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1rem;
}

.gen-img-box.four:hover {
    background-image: url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image016.jpg");
}



/* SITE FOOTER SECTION  */
.site-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4rem 0;
}

.ft-flex {
    display: flex;
    padding-left: 10em;
}

.site-footer ul {
    text-align: left;
}

.site-footer ul li:first-child {
    font-weight: bold;
}

.site-footer li {
    list-style-type: none;
}

.site-footer a {
    text-decoration: none;
    color: white;
}



/* ------------- RESEARCH PAGES / WHITE ---------- */

.focus-container.article {
    padding-left: 3rem;
}

.focus-txt.article {
    width: 40rem;
}

.focus-txt.article ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.focus-txt.article li {
    min-height: 50px;
    line-height: 1.5;
    /* border: 1px solid #ccc; */
    padding: 1rem;
    display: flex;
    align-items: center;
}

.focus-txt.article li:nth-child(6) {
    display: inline;
}

.focus-txt.article li:nth-child(18) {
    display: inline;
}

.focus-txt.article li:nth-child(22) {
    display: inline;
}

.hero-image.article {
    height: 5rem;
    background-color: #000;
    background-image: none;
}

.article-img figcaption {
    font-weight: 700;
    font-size: .8rem;
    width: 30rem;

}

.foc-img-box.article {
    height: 100vw;
    position: relative;

}

.article-img {
    background-image: url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image002.jpg");
    height: 100%;
    background-position: right;
    padding-right: 50px;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
}
.article-img.posters {
    background-image: url("https://www.sscnet.ucla.edu/polisci/faculty/boneill/index_files/image012.jpg");
}
.photo-gal {
    background-color: white;
    width: 100%;
    text-align: center;
    margin: 0;
}

.photo-gal h1 {
    font-size: 3.5em;
    padding-top: 1rem;
    margin: 0;
}
.photo-desc {
    /* width: 90%;
    margin: auto; */
}

.photo {
    width: 30%;
    margin: calc(10%/6);
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
}

.photo-sect.one {
    border: 1px solid #000;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, .5);
    display: flex;
}

.photo-text.one {
    width: 40%;
}

.photo-text.one p {
    font-size: .8em;
}

.photo-sect.one img {
    width: 90%;
    /* height: 100%; */
}

.photos-only {
    display: flex;
    flex-direction: column;
    width: 60%;
}